node_modules/
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/

/data/logs.txt
out/


# IGNORE GENERATED .JS FILES
*.js
*.js.map
!*.js/
!*.js.map/

# COMMIT OUTPUT JS DIR
!/client/res/js/*


# IGNORE GENERATED .CSS FILES
*.css
*.css.map
!*.css/
!*.css.map/

# COMMIT OUTPUT CSS DIR
!/client/res/css/*