@import "./mixins";
@import "./variables";

.evaluateTest, .evaluateSession {
	.continueTestButton {
		display: block;
		font-weight: bold;
		margin-top: 10px;
	}

	.scoreBarContainer {
		.borderBlock;
		margin-top: 10px;
		margin-bottom: 10px;

		.successMessage {
			margin: 0 0 0 5px;
		}

		.scoreBarLabels {
			padding: 5px;
			.scoreBarPoints {
				float: left;
				margin-bottom: 5px;
			}
			.scoreBarPercentage {
				float: right;
			}
		}

		.scoreBar {
			position: relative;
			clear: both;
			width: 100%;
			height: 1em;
			background-color: lightgray;
			overflow: hidden;

			.scoreBarThreshold {
				position: absolute;
				display: inline-block;
				width: 0.5%;
				height: 100%;
				background-color: gray;
			}

			.scoreBarLine {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
			}
		}
	}

	.scoreBarContainer.succeeded {
		.successMessage {
			color: darken(lightgreen, 25%) !important;
		}
		.scoreBarLabels {
			color: darken(lightgreen, 25%) !important;
		}
		.scoreBarLine {
			background-color: lightgreen;
		}
	}

	.scoreBarContainer.failed {
		.successMessage {
			color: darken(lightcoral, 25%) !important;
		}
		.scoreBarLabels {
			color: darken(lightcoral, 25%) !important;
		}
		.scoreBarLine {
			background-color: lightcoral;
		}
	}

	.questionAnswerList {
		display: flex;
		flex-wrap: wrap;
		list-style-type: none;
		padding: 0;
		margin: -3px;

		li {
			position: relative;
			.borderBlock;
			padding: 0;
			width: ~"calc((100% / @{testEvaluationRowQuestionCount}) - 6px)";
			margin: 3px;

			&.correct {
				//noinspection CssInvalidPropertyValue
				border-color: shade(lightgreen, 20%);
			}

			&.incorrect {
				//noinspection CssInvalidPropertyValue
				border-color: shade(lightcoral, 20%);
			}

			&.unanswered {
				//noinspection CssInvalidPropertyValue
				border-color: shade(lightgrey, 20%);
			}

			&:hover {
				border-color: @mainColor;
			}

			a {
				width: 100%;
				height: 100%;

				color: inherit;
				text-decoration: none;
				font-weight: inherit;
			}

			.questionIndex {
				width: 100%;
				height: ~"calc(1.4em + 10px)";
				padding: 5px 7px;

				color: white;
			}

			.questionText {
				display: -webkit-box;
				width: 100%;
				height: ~"calc((4 * 1.4em) + 5px)";
				padding: 5px 7px;
				overflow: hidden;
				text-overflow: ellipsis;
				-webkit-line-clamp: 4;
				-webkit-box-orient: vertical;

				font-size: 70%;
				color: rgba(255, 255, 255, 0.8);
				background-color: rgba(0, 0, 0, 0.2);
			}
		}

		.correct {
			background-color: lightgreen;
		}
		.incorrect {
			background-color: lightcoral;
		}
		.unanswered {
			background-color: lightgray;
		}
	}
}

@media (max-width: 950px) {
	.evaluateTest, .evaluateSession {
		.questionAnswerList li {
			width: ~"calc((100% / @{mobileTestEvaluationRowQuestionCount}) - 6px)";
		}
	}
}