@import "./mixins";
@import "./variables";
@import "./fonts";
@import "./sidebar";
@import "./questionSelect";
@import "./browsing";
@import "./practiceTest";
@import "./evaluateTest";
@import "./questionView";
@import "./prepareTest";

html {
	//font-size: 25px;
}


* {
	box-sizing: border-box;
	font-family: NotoMain, sans-serif;
	line-height: @defaultLineHeight;
}

a {
	color: @mainColor;
	text-decoration: underline;
	font-weight: bold;

	&:hover {
		color: spin(@mainColor, 180);
	}
}

button {
	font-size: 100%;
}

html, body {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

	font-family: NotoMain, sans-serif;
	background-color: @backgroundColor;
}

hr {
	background-color: lightgray;
	height: 1px;
	border: none;
	margin: @defaultDistance (-@defaultDistance * 2);
}

h1, h2, h3 {
	font-family: NotoTitle, sans-serif;
	font-weight: 100;
}

h1 {
	font-size: 250%;
}


#container {
	position: relative;
	top: @containerMarginTop;
	left: ~"calc(@{sidebarWidth} + @{containerMarginLeft})";
	width: @containerWidth;
	margin-bottom: 10px;

	h1, h2, h3 {
		color: @mainColor;
	}
}


.actionButton {
	padding: 10px 12px;

	cursor: pointer;
	color: white;
	font-family: NotoBold, sans-serif;
	font-size: inherit;
	background-color: @mainColor;
	border: none;
	border-radius: 2px;
}

.actionButton.disabled {
	background-color: grey !important;
}


#loaderCover {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.3);

	#loaderPopup {
		.borderBlock();
		position: relative;
		width: 300px;
		height: 200px;
		top: 20%;
		margin: auto;
		padding: 60px;
		box-shadow: none;

		background-color: white;
		text-align: center;

		#loaderPopupInside {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}