@mainColor: darken(#03a9f4, 10%);
@backgroundColor: #eee;

@correctAnswerColor: lightgreen;
@incorrectAnswerColor: lightcoral;
@markedAnswerColor: lightblue;
@unansweredColor: lightgrey;

@defaultLineHeight: 1.4;
@defaultDistance: 0.6em;
@borderWidth: 2px;

@containerWidth: 644px; // 640 + 2 * 2 (flash width + borders
@containerMarginTop: 50px;
@containerMarginLeft: 6em;
@sidebarWidth: 18em;

@imgAnswerCoverOpacity: 0.5;